target
.classpath
.project
.settings
/bin/
log
test/*
!*.gitkeep/
**/Thumbs.db
nbactions.xml
nb-configuration.xml
/scilab-log-*.txt
/affichm-scilab-log-*.txt
/uploads/*
/values/*
/workspace*.dat
combined.js
combined-*.js
hs_err_*.log
