*.orig
*.rej
combined.js
/webapp/data_structures_correct/
/webapp/history/
/webapp/res_imgs/*.jpg
/webapp/xcos/
hs_err_*.log
/scilab-log-*.txt
/uploads/
/values/
/workspace*.dat
__pycache__/
*.swp
.idea/
env*/
