Click==7.0
entrypoints==0.3
flake8==3.7.8
Flask==1.1.1
Flask-Caching==1.7.2
Flask-Session==0.3.1
Flask-Versioned==0.9.4.post20101221
gevent==1.4.0
greenlet==0.4.15
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mccabe==0.6.1
pycodestyle==2.5.0
pyflakes==2.1.1
setuptools==65.5.1
Werkzeug==0.15.5
wheel==0.33.6
