Click==7.0
flake8==6.0.0
Flask==1.1.1
Flask-Caching==1.7.2
Flask-Session==0.3.1
Flask-Versioned==0.9.4.post20101221
gevent==22.10.2
greenlet==2.0.2
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mccabe==0.7.0
pycodestyle==2.10.0
pyflakes==3.0.1
Werkzeug==0.15.5
zope.event==4.6
zope.interface==5.5.2
