cachelib
certifi==2023.7.22
charset-normalizer==2.0.12
click
dataclasses==0.8
Flask
Flask-Caching
Flask-Session
Flask-Versioned==0.9.4.post20101221
gevent
greenlet
idna
importlib-metadata==4.2.0
itsdangerous
Jinja2
MarkupSafe
requests
typing_extensions==4.1.1
urllib3
Werkzeug
zipp
zope.event
zope.interface
