cachelib==0.6.0
certifi==2023.7.22
charset-normalizer==2.0.12
click==8.0.4
dataclasses==0.8
Flask==2.0.3
Flask-Caching==1.10.1
Flask-Session==0.4.1
Flask-Versioned==0.9.4.post20101221
gevent==22.10.2
greenlet==2.0.2
idna==2.6
importlib-metadata==4.2.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mysqlclient==1.4.6
requests==2.27.1
typing_extensions==4.1.1
urllib3==1.26.17
Werkzeug==2.2.3
zipp==3.6.0
zope.event==4.6
zope.interface==5.5.2
