cachelib
certifi
charset-normalizer
click
dataclasses
Flask
Flask-Caching
Flask-Session
Flask-Versioned
gevent
greenlet
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
requests
typing_extensions
urllib3
Werkzeug
zipp
zope.event
zope.interface
