<!DOCTYPE html>
<html lang="en">

<head>
    <title>Xcos on cloud ({{branch}})</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="fontawesome-free-5.13.1-web/css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <script src="jquery/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="{{"webapp/custom.js"|versioned}}" type="text/javascript"></script>

    <meta name="title" content="Scilab computational resource, Scilab high performance computing on demand">
    <meta name="description"
        content="Xcos on Cloud facilitates execution of the codes for particular example(s) online. The results can then be verified with the solved example(s) from the textbook. It is also possible to change the values of the variables and in fact, the code itself, and execute it. In addition to the given examples, one can also copy and paste (or) write a new code in the input box provided and execute the same.">
    <meta name="keywords"
        content="Xcos on Cloud, Xcos, scilab on cloud, scilab online execute, scilab online compiler, scilab computation, calcul scientifique,numerical computation, scilab computing online, scilab calculator">
    <style>
        html, body{
            height:100%;
            margin:0;
            }
    </style>
</head>

<body>
    <div id="loader"></div>
    <div id="content"></div>
    <section id="navbar">
        <nav class="navbar navbar-expand-md  site-header bg-dark navbar-dark">
            <img class="navbar-brand" src="images/home-logo.png" alt="logo" style="height:40px;width:30px">
            <a class="navbar-brand" href="/example">Xcos on cloud</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://xcos.fossee.in" target="_blank"><i class="fas fa-cubes"></i>Xcos Editor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://cloud.scilab.in" target="_blank"><i class="fas fa-chart-line"></i>Scilab on Cloud</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" id="about-us" data-toggle="modal" data-target="#about_wrapper">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" id="invitation" data-toggle="modal" data-target="#invitation_wrapper">Invitation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" id="contact" data-toggle="modal" data-target="#contact_wrapper">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://scilab.in" target="_blank">
                            <img class="fluid" src="images/scilab-logo.png" alt="logo" style="width:100px">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <br>
    </section>
    <section id="data-content">
        <div class="container small">
            <form class="col-12">
                <h3 class="display-6"> <i class="fas fa-cubes"></i> Xcos examples ({{book_count}} books, {{count}} examples)</h3>
                <hr><br>
                <div id="main-category-wrapper" class="form-row form-group">
                    <label class="col-sm-2 col-form-label font-weight-bold"><i class="fa fa-list-ul" aria-hidden="true"></i>Main Category :</label>
                    <select id="category-list" class="form-control-sm col-sm-10">
                        <option value="0">Select Main Category</option>
                        {% for item in category %}
                        {% set tag = 'books' if item[3] != 1 else 'book' %}
                        <option value="{{item[0]}}"{{ " selected" if category_id == item[0] }}>{{item[1]}} ({{item[3]}} {{tag}}, {{item[2]}} examples)</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="book" class="form-row form-group">
                    <label for="disabledInput" class="col-sm-2 col-form-label font-weight-bold"><i class="fa fa-book" aria-hidden="true"></i> Book :</label>
                    <select id="book-list" class="form-control-sm col-sm-8">
                        <option value="0">Select Book </option>
                    </select>
                    <a href="#" class="extra-link col-sm-2" id="contributor">+Contributor<i class="fa fa-users" aria-hidden="true"></i></a>
                </div>
                <div id="chapter" class="form-row form-group">
                    <label for="disabledInput" class="col-sm-2 col-form-label font-weight-bold"><i class="fa fa-file" aria-hidden="true"></i>Chapter :</label>
                    <select id="chapter-list" class="form-control-sm col-sm-8">
                        <option value="0">Select Chapter</option>
                    </select>
                    <a href="#" class="extra-link col-sm-2" id="download-chapter">Download Chapter<i class="fa fa-download" aria-hidden="true"></i></a>
                </div>
                <div id="example" class="form-row form-group">

                    <label for="disabledInput" class="col-sm-2 col-form-label font-weight-bold"><i class="fa fa-bars" aria-hidden="true"></i> Example :</label>
                    <select id="example-list" class="form-control-sm col-sm-8">
                        <option value="0">Select Example</option>
                    </select>
                    <a href="#" class="extra-link col-sm-2" id="download-example">Download Example <i class="fa fa-download" aria-hidden="true"></i></a>
                </div>
                <div id="example-file" class="row">
                    <div class="col-sm-2 col-form-label font-weight-bold">
                        <i class="fas fa-list-alt"></i> Available Xcos file(s):
                    </div>
                    <div class="col-sm-9">
                        <table id="example-file-list" class="table table-striped table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Example File</th>
                                    <th>Type</th>
                                    <th>Action(s)</th>
                                </tr>
                            </thead>
                            <tr>
                            </tr>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
            <!-- -->
        </div>
    </section>
    <section id="footer-content" >
        <footer>
            <!-- container -->
            <div class="container-fluid bg-dark text-light">
                <br>
                <div class="row">

                    <div class="col-4">
                        <a href="https://fossee.in" target="_blank">
                            <img class="bg-white img-responsive" src="images/fossee-logo.png" alt="logo" style="width:100px;height: 45px;">
                        </a>
                    </div>

                    <div class="col-4">
                        <center>
                            <a rel="funded_by" href="http://www.sakshat.ac.in/" target="_blank">
                                <img class="img-responsive" alt="NMEICT" style="border-width:0;width:auto;height:45px;background:#ffffff;" src="images/NMEICT.png" />
                            </a>
                        </center>
                    </div>
                    <div class="col-4">
                        <a href="https://iitb.ac.in" target="_blank" class="float-right">
                            <img class="bg-white img-responsive" src="images/iitb-logo.png" alt="logo" style="width:50px;height: 45px;">
                        </a>
                    </div>

                </div>
                <div class="row">
                    <div class="col-2">
                        <p class="float-left">
                            <a href="#" id="disclaimer" data-toggle="modal" data-target="#disclaimer-text"><i class="fas fa-exclamation-triangle"></i>Disclaimer</a>
                        </p>
                    </div>
                    <div class="col-8">
                        <p></p>
                        <center>
                            <p>
                                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
                                    <img alt="Creative Commons License" style="border-width:0" src="images/88x31.png" />
                                </a>
                                This work is licensed under a
                                <a id="cc" rel="license" class="text-white bg-dark" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
                            </p>
                        </center>
                    </div>
                    <div class="col-2">
                        <a href="https://xcos.fossee.in/cgi-bin/awstats.pl?config=cloud.scilab.in" class="float-right" target="_blank"><i class="fas fa-chart-line"></i>View Stats</a>
                    </div>
                </div>
            </div>
        </footer>
    </section>
    <!-- -->
    <!-- disclaimer modal -->
    <div class="modal" id="disclaimer-text">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title text-primary">Disclaimer</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p class="text-justify">Every effort is made to make all the codes to run smoothly. However, Xcos
                        Cloud takes no responsibility for, and will not be liable for, the website being temporarily
                        unavailable due to technical issues and code not producing accurate outputs due to any
                        toolboxes.
                    </p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!-- disclaimer modal ends -->
    <!-- about us -->
    <div class="modal" id="about_wrapper">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title text-primary">About Scilab on NVLI Cloud.</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p class="text-justify">
                        Xcos on Cloud facilitates execution of the codes for particular example(s) online. The results
                        can then be verified with the solved example(s) from the textbook. It is also possible to change
                        the values of the variables and in fact, the code itself, and execute it. In addition to the
                        given examples, one can also copy and paste (or) write a new code in the input box provided and
                        execute the same. <a href="http://scilab.in/scilab-on-cloud" target="_blank">Read more..</a>
                    </p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!-- about us modal ends -->
    <!-- contributor -->
    <div class="modal" id="contributor_wrapper">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h6 class="modal-title text-primary"><u>Contributor details</u> <i class="far fa-user"></i></h6>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
               <!-- Modal body -->
                <div class="modal-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Contributor name</td>
                                <td><span id="full_name"></span></td>
                            </tr>
                            <tr>
                                <td>Branch</td>
                                <td><span id="branch"></span></td>
                            </tr>
                            <tr>
                                <td>College</td>
                                <td><span id="university"></span></td>
                            </tr>
                            <tr>
                                <td>Book</td>
                                <td><span id="book-data"></span></td>
                            </tr>
                            <tr>
                                <td>License</td>
                                <td><span id="license">This work is licensed under the Creative Commons Attribution 4.0 Unported License. To view a copy of this license, visit <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">http://creativecommons.org/licenses/by/4.0/.</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!-- contributor modal ends -->

    <!-- invitation -->
    <div class="modal" id="invitation_wrapper">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title text-primary">Contribute to Scilab Textbook Companion Project / Scilab on
                        NVLI Cloud.</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p class="text-justify">
                        The FOSSEE team has created a submission portal that allows the code for each example to be
                        uploaded individually. The Textbook Companion Project aims to port solved examples from standard
                        textbooks using an open source software system, such as Scilab.
                        <a href="http://scilab.in/Textbook_Companion_Project" target="_blank">Read more..</a>
                    </p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!-- contact us modal ends -->
    <!-- invitation -->
    <div class="modal" id="contact_wrapper">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title text-primary">Send us your valuable suggestions and feedback that shall
                        enable us to enhance our work.</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p class="text-justify">
                        If you wish to contribute to our activities such as <b>Lab Migration, Textbook
                            Companion, Xcos, Xcos on Cloud, Scilab on Cloud, Scilab on Aakash,</b> please write to
                        <a href="mailto: contact@scilab.in">contact[at]scilab[dot]in</a>. For feedback on Lab Migration
                        (or) Textbook Companion,
                        <a href="http://scilab.in/feedbacks" target="_blank">click here</a>.
                    </p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!-- invitation modal ends -->
    <!-- Search Modal -->

    <div class="modal" id="search_wrapper">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Search book</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="input-group">
                        <input id="search-input" type="text" class="form-control"
                            placeholder="Enter book or author name">
                        <span class="input-group-btn">
                            <button id="search" class="btn btn-info" type="button">Search</button>
                        </span>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div id="relevant" class="col-4 small">
                        </div>
                        <div id="popular" class="col-4 small bg-light text-primary"
                            style="word-wrap: break-word;overflow:auto;">
                        </div>
                        <div id="recent" class="col-4 small bg-light text-primary"
                            style="word-wrap: break-word;overflow:auto;">
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!-- search modal ends -->
    <div class="modal" id="bug_form_wrapper">
    </div>
    <!-- plotbox wrapper -->
    <div class="modal" id="plotbox_wrapper">
        <div class="modal-dialog">
            <div class="modal-content" style="width: auto;">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title text-primary"><i class="fas fa-chart-bar"></i></h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div id="plotbox" class="modal-body">

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <a href="" class="btn btn-info float-left" role="button" id="plot_download">Download</a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!-- plotbox wrapper ends -->
    <!-- diff modal -->
    <div class="modal" id="diff_wrapper">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"> Diff between [1]
                        <strong>
                            <span id="diff-first">
                            </span>
                        </strong>
                        and [2]
                        <strong>
                            <span id="diff-second">
                            </span>
                        </strong>
                    </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <hr>

                    <div>
                        <span class="bg-success text-white">Green text</span> -&gt; exists in [2] but not in [1]
                        <br>
                        <span class="bg-danger text-white">Red text</span> -&gt; exists in [1] but not in [2]
                    </div>

                    <hr>

                    <div id="diff-area" style="word-wrap: break-word;">
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <script>
    {% if category_id is not none %}
        var options = [];
        options.push($('<option />', {
            "value": 0,
            "text": "Select Book"
        }));
        {% for row in book %}
            options.push($('<option />', {
                "value": {{row[0]}},
                "text": "{{row[1]}} (Author: {{row[2]}}) ({{row[3]}} {{ "examples" if row[3] != 1 else "example" }})"
            }));
        {% endfor %}
        $("#book-list").empty().append(options);
        $('#book').show();
    {% endif %}
    {% if book_id is not none %}
        $("#book-list").val({{book_id}});
        $('#contributor').show();
        var options = [];
        options.push($('<option />', {
            "value": 0,
            "text": "Select Chapter"
        }));
        {% for row in chapter %}
            options.push($('<option />', {
                "value": {{row[0]}},
                "text": "{{row[1]}}) {{row[2]}}"
            }));
        {% endfor %}
        $("#chapter-list").empty().append(options);
        $('#chapter').show();
    {% endif %}
    {% if chapter_id is not none %}
        $("#chapter-list").val({{chapter_id}});
        var options = [];
        options.push($('<option />', {
            "value": 0,
            "text": "Select Example"
        }));
        {% for row in example %}
            options.push($('<option />', {
                "value": {{row[0]}},
                "text": "{{row[1]}}) {{row[2]}}"
            }));
        {% endfor %}
        $("#example-list").empty().append(options);
        $('#example').show();
    {% endif %}
    {% if example_id is not none %}
        $("#example-list").val({{example_id}});
        $("#example-file-list > tbody:last-child").empty();
        {% for row in example_file %}
            {% if row[2] == 'X' %}
                {% set dispfiletype = 'Xcos File' %}
                {% set actions = "<a href='/example_file?efid="|safe ~ row[0] ~ "' target='_blank'>Download</a> | <a href='/open?efid="|safe ~ row[0] ~ "' target='_blank'>Open on Cloud</a>"|safe %}
            {% elif row[2] == 'S' %}
                {% set dispfiletype = 'Prerequisite' %}
                {% set actions = "<a href='/prerequisite_file?efid="|safe ~ row[0] ~ "' target='_blank'>Download</a>"|safe %}
            {% endif %}
            $('#example-file-list > tbody:last-child')
                .append("<tr>")
                .append("<td>{{row[1]}}</td>")
                .append("<td>{{dispfiletype}}</td>")
                .append("<td>{{actions}}</td>")
                .append("</tr>");
        {% endfor %}
        $('#example-file').show();
    {% endif %}
</script>
    <!--  diff wrapper ends  -->
</body>

</html>
